<br>


<ul id="flats">

  <% @flats.each do |flat| %>
  <%= link_to flat_path(flat), class: "text-decoration-none" do %>
    <li>
      <div class="card-product">
        <img src="<%= flat.photo %>" />
        <div class="card-product-infos">
          <%= flat.name %>

      </div>
    </li>
  <% end  %>
  <% end %>
</ul>
